.room-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f7f9fa;
}

mat-card {
  width: 500px;
  padding: 2rem;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

mat-card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}
